.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 304px;
  height: 46px;
  margin: 0 0 17px 0;
  &Text {
    font-family: 'Actor', serif;
    font-size: 36px;
  }
  &Image {
    margin: 6px 0 0 0;
    cursor: pointer;
    transition: all 0.4s ease;
    &:hover {
      opacity: .3;
      transition: all 0.4s ease;
    }
  }
  @media (max-width: 400px) {
    width: 210px;
  }
}