.addPost {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  opacity: 1;

  .container {
    display: flex;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    z-index: 8;
    opacity: .6;
    animation-name: appearanceContainer;
    animation-duration: 3s;
  }

  &__Content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    position: absolute;
    width: 250px;
    height: 300px;
    border-radius: 25px;
    top: 40%;
    z-index: 20;
    animation-name: appearanceContent;
    animation-duration: 0.8s;

    &Dark {
      border: 1px solid #EEE;
      background: #282828;
    }
    &Light {
      border: 1px solid #282828;
      background: #CCC;
    }

    @media (max-width: 400px) {
      top: 45%;
    }

    &Header {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px 0 0 0;
      font-size: 25px;

      &_Close {
        position: absolute;
        top: 13px;
        right: 20px;
        cursor: pointer;
        transition: all 0.2s ease;

        &Ligth {
          top: 5px;
          right: 9px;
        }

        &:hover {
          opacity: .5;
          transition: all 0.4s ease;
        }
      }
    }

    &Theme {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 30px 0 0 50px;
    }

    &Form {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column;
      margin: 10px 0 0 0;

      .button {
        width: 200px;
        height: 50px;
        font-size: 25px;
        margin: 30px 0 20px;
        cursor: pointer;
        border-radius: 15px;
        transition: all 0.3s ease;

        &Dark {
          background: #282828;
          color: #FFF;
          border: 1px solid #888;
          box-shadow: 16px 16px 20px rgba(0, 0, 0, 0.15), -8px -8px 20px rgba(255, 255, 255, 0.05);
          &:hover {
            opacity: .3;
            box-shadow: 16px 16px 20px rgba(0, 0, 0, 0.15), -8px -8px 20px rgba(255, 255, 255, .5);
            transition: all 0.6s ease;
          }
        }
        &Light {
          background: #CCC;
          color: #282828;
          border: 1px solid #888;
          box-shadow: 16px 16px 20px rgba(255, 255, 255, 0.15), -8px -8px 20px rgba(0, 0, 0, 0.05);
          &:hover {
            opacity: .3;
            box-shadow: 16px 16px 20px rgba(255, 255, 255, 0.15), -8px -8px 20px rgba(0, 0, 0, .5);
            transition: all 0.6s ease;
          }
        }

        @media (max-width: 400px) {
          width: 225px;
        }
      }

      .input {
        margin: 10px 0;
        width: 200px;
        height: 30px;
        border-radius: 10px;
        outline: none;
        padding: 0 10px;

        &Dark {
          background: #282828;
          color: #FFF;
          border: 1px solid #888;
          box-shadow: 16px 16px 20px rgba(0, 0, 0, 0.15), -8px -8px 20px rgba(255, 255, 255, 0.05);
          &:focus {
            box-shadow: 16px 16px 20px rgba(0, 0, 0, 0.15), -8px -8px 20px rgba(255, 255, 255, .5);
            transition: all 0.8s ease;
          }
        }
        &Light {
          background: #CCC;
          color: #282828;
          border: 1px solid #888;
          box-shadow: 16px 16px 20px rgba(255, 255, 255, 0.15), -8px -8px 20px rgba(0, 0, 0, 0.05);
          &:focus {
            box-shadow: 16px 16px 20px rgba(255, 255, 255, 0.15), -8px -8px 20px rgba(0, 0, 0, .5);
            transition: all 0.8s ease;
          }
        }

        &Date {
          cursor: pointer;
        }
      }
    }
  }
}

@keyframes appearanceContent {
  0% {
    opacity: 0;
    margin: -300px 0 0 0;
  }
  100% {
    opacity: 1;
    margin: 0 0 0 0;
  }
}

@keyframes appearanceContainer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .6;
  }
}