.task {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 51px;
  animation-name: appearance;
  animation-duration: 0.8s;
  &Line {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &Content {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-flow: column;
    width: 225px;
    height: 100%;
    font-size: 24px;
    margin: 0 0 0 13px;
    &__Dark {
      color: rgba(255, 255, 255, 0.6);
    }
    &__Light {
      color: rgba(0, 0, 0, 0.6);
    }
    &__Header {
      font-size: 24px;
      @media (max-width: 400px) {
        font-size: 18px;
      }
      &Crossed_Out {
        text-decoration: line-through;
      }
    }
    &__Text {
      font-size: 14px;
      @media (max-width: 400px) {
        font-size: 12px;
      }
    }
  }
  @media (max-width: 400px) {
    width: 210px;
  }
}

@keyframes appearance {
  0% {
    height: 10px;
    opacity: 0;
    visibility: hidden;
  }
  100% {
    height: 51px;
    opacity: 1;
    visibility: inherit;
  }
}